schema/cv_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Curriculum_Vitae">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="datuPertsonalak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="izena" type="xs:string" />
                            <xs:element name="abizena" type="xs:string" />
                            <xs:element name="korreoa" type="xs:string" />
                            <xs:element name="telefonoa" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="formakuntza">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ikasketak">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulua" type="xs:string" />
                                        <xs:element name="zentroa" type="xs:string" />
                                        <xs:element name="urtea" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="kodea" use="required" />
                                    <xs:attribute name="mota" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Lan-experientzia">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lana">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="postua" type="xs:string" />
                                        <xs:element name="enpresa" type="xs:string" />
                                        <xs:element name="lan-iraupena" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="mota" use="required" />
                                    <xs:attribute name="erlazionatutakoIkasketa" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gaitasunak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gaitasuna" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="mota" use="required" />
                                            <xs:attribute name="maila" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
